<footer class="w3-container w3-black w3-padding-16">
  <h3 class="w3-center">Ferramentas AlbeROBOT</h3>
  <div class="w3-bar w3-dark-grey">
    <a href="db.php" class="w3-bar-item w3-button w3-mobile"  style="width:25%">Discussão de bloqueio</a>
    <a href="siw.php" class="w3-bar-item w3-button w3-mobile"  style="width:25%">ESR-SIW</a>
    <a href="voto.php" class="w3-bar-item w3-button w3-mobile"  style="width:25%">Direito ao voto</a>
    <a href="sbl.php" class="w3-bar-item w3-button w3-mobile"  style="width:25%">Lista de Spam</a>
  </div>
  <div class="w3-half w3-center">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" rel="noopener">w3.css</a> + <a href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge" target="_blank" rel="noopener">Toolforge</a></p>
  </div>
  <div class="w3-half w3-center">
    <p>Available on <a href="https://github.com/albertoleoncio/wikipedia" target="_blank" rel="noopener">GitHub</a> + <a href="https://gitlab.wikimedia.org/toolforge-repos/alberobot" target="_blank" rel="noopener">GitLab</a></p>
  </div>
</footer>